
MacNotifier.xcodeproj/project.xcworkspace/contents.xcworkspacedata

MacNotifier.xcodeproj/project.xcworkspace/xcuserdata/sassembla.xcuserdatad/UserInterfaceState.xcuserstate

MacNotifier.xcodeproj/xcuserdata/sassembla.xcuserdatad/xcschemes/xcschememanagement.plist

MacNotifier.xcodeproj/xcuserdata/sassembla.xcuserdatad/xcschemes/MacNotifier.xcscheme
